[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=line-too-long, import-error, unused-import, too-many-locals, too-many-boolean-expressions, too-many-branches, too-many-statements, invalid-name, too-many-nested-blocks, too-many-return-statements, too-many-instance-attributes, too-many-arguments, too-many-lines, broad-exception-caught, no-name-in-module, unused-argument