<div id="truck-exterior-rack-info">
    {% for form in forms %}
        <div class="d-flex justify-content-around">            
            <div>
                {{ form.exterior_rack_length.label(class_='form-label') }}
                {{ form.exterior_rack_length(class_='form-control') }}
            </div>

            <div>
                {{ form.exterior_rack_depth.label(class_='form-label') }}
                {{ form.exterior_rack_depth(class_='form-control') }}
            </div>
            
            <div>
                {{ form.exterior_rack_height.label(class_='form-label') }}
                {{ form.exterior_rack_height(class_='form-control') }}
            </div>
        </div>
    {% endfor %}
</div>
