<div id="truck-info">    
    {{ form.truck_name.label(class_='form-label') }}
    {{ form.truck_name(class_='form-control') }}

    {{ form.distance_to_rear_axle.label(class_='form-label') }}
    {{ form.distance_to_rear_axle(class_='form-control') }}

    {{ form.interior_rack_quantity.label(class_='form-label') }}
    {{ form.interior_rack_quantity(
        id='interior-rack-quantity-input',
        class_='form-control',
        **{
            'hx-get': url_for('truck_form_interior_rack_options'),
            'hx-swap': 'innerHTML',
            'hx-target': '#truck-interior-rack-info'
        }) 
    }}

    <div id="truck-interior-rack-info"></div>

    {{ form.exterior_rack_quantity.label(class_='form-label') }}
    {{ form.exterior_rack_quantity(
        id='exterior-rack-quantity-input',
        class_='form-control',
        **{
            'hx-get': url_for('truck_form_exterior_rack_options'),
            'hx-swap': 'innerHTML',
            'hx-target': '#truck-exterior-rack-info'
        }) 
    }}

    <div id="truck-exterior-rack-info"></div>
</div>
