<div id="describe-manifest">
    <h3>{{ manifest_name }}</h3>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="col-auto fs-4">Parameters</div>
            <div class="col-auto fs-4">Manifest Columns</div>
        </div>
        <div class="card-body">
            <form 
                hx-post="{{ url_for('layout_form_post_describe_manifest', manifest=manifest_name) }}"
                hx-swap="outerHTML"
                hx-target="#describe-manifest"
                hx-replace-url="?manifest={{ manifest_name }}"
            >
                {% for param in manifest_params %}
                    <div class="d-flex justify-content-between mt-3">
                        <div class="col-auto">
                            <label class="form-label" for="{{ param.key }}">{{ param.name }}</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" id="{{ param.key }}" name="{{ param.key }}" aria-label="{{ param.name }}">
                                <option value="NULL" selected disabled>Open to select a column</option>
                                {% for column_name in manifest_column_names %}
                                    <option value="{{ column_name }}">{{ column_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}
                <div class="col d-flex justify-content-center mt-3">
                    <button class="btn btn-outline-primary">Save mapping</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="fs-6">
                *Parameters left without a mapped manifest column will be made available for manual entry when the mapping is saved.
            </div>
        </div>
    </div>
</div>
