<!DOCTYPE html>
<html>
    <head>
        {% include './universal/standard_page.html' %}
        {% include './universal/bootstrap_head.html' %}
        {% include './universal/htmx_head.html' %}

        <title>Freight loading helper tool thing</title>

        {% include './navigation/navbar_head.html' %}
    </head>
    <body>
        {% include './navigation/navbar.html' %}

        <h1 class="text-center">Generate Layout</h1>

        <div class="col d-flex flex-column justify-content-center align-items-center">
            <a href="{{ url_for('landing_page') }}" class="btn btn-primary m-5">Back to home</a>
        </div>

        <div class="container d-flex justify-content-center py-3">
            <div class="col-6">
                <div class="fs-4">Select a truck</div>
                <select class="form-select"
                    hx-get="{{ url_for('layout_form_get_manifest_upload') }}?{{ request.query_string.decode() }}"
                    hx-swap="outerHTML"
                    hx-target="#select-a-manifest"
                >
                    <option selected disabled>Open to select a truck</option>
                    {% for truck in trucks.trucks %}
                        <option value="{{ truck }}">{{ truck }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container d-flex justify-content-center py-3">
            <div class="col-6">
                <div id="select-a-manifest"></div>
            </div>
        </div>

        <div class="container d-flex justify-content-center py-3">
            <div class="col-6">
                <div id="describe-manifest"></div>
            </div>
        </div>

        <div class="container d-flex justify-content-center mt-5">
            <button class="btn btn-primary"
                hx-post="{{ url_for('generate_layout', truck=trucks.selected_truck, racks=racks.selected_racks, manifest=manifests.selected_manifest) }}"
                hx-swap="outerHTML"
            >
                Generate layout
            </button>
        </div>

        {% include './navigation/footer.html' %}
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" data-pagespeed-no-defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/generate_layout.js') }}" data-pagespeed-no-defer></script>
</html>