<!DOCTYPE html>
<html>
    <head>
        {% include './universal/standard_page.html' %}
        {% include './universal/bootstrap_head.html' %}

        <title>Freight loading helper tool thing</title>

        {% include './navigation/navbar_head.html' %}
    </head>
    <body>
        {% include './navigation/navbar.html' %}

        <h1 class="text-center">Freight Helper Tool</h1>

        <div class="col d-flex flex-column justify-content-center align-items-center">
            <a href="{{ url_for('configure_trucks') }}" class="btn btn-primary m-3">Configure trucks</a>

            <a href="{{ url_for('configure_racks') }}" class="btn btn-primary m-3">Configure racks</a>

            <a href="{{ url_for('parse_manifest') }}" class="btn btn-primary m-3">Upload and parse shipping manifest</a>

            <a href="{{ url_for('generate_layout') }}" class="btn btn-primary m-3">Generate layout</a>
        </div>

        {% include './navigation/footer.html' %}
    </body>
</html>