{# Render truck rack form.

This macro is intended to render both regular rack subforms (received from the
server) and the template form used to dynamically add more forms.

Arguments:
    - subform: Form object to render
    - index: Index of the form. For proper subforms rendered in the form loop,
             this should match `loop.index0`, and for the template it should be
             '_'
#}
{%- macro render_rack_form(subform, index) %}
    <div id="rack-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <div>
            {{ subform.rack_name.label }}
            {{ subform.rack_name }}
        </div>
        <div>
            {{ subform.rack_length.label }}
            {{ subform.rack_length}}
        </div>
        <div>
            {{ subform.rack_height.label }}
            {{ subform.rack_height }}
        </div>
    </div>
{%- endmacro %}
